<h1>DMS NAM PHÁT</h1>
<h2>Đơn hàng yêu cầu đã được chấp thuận</h2>
<p>Đơn hàng bạn yêu cầu với mã: {{ code }}</p>
<p>Đã được nhân viên {{ salesman }} xác nhận.</p>
<p>
  Vui lòng truy cập trang dành cho đại lý tiến hành kiểm tra số lượng cụ thể đã
  được thông qua để tiến hành xác nhận và liên hệ thanh toán thông qua số điện
  thoại của nhân viên {{ phone_number }}.
</p>
<p>
  <i>
    <b>
      Xin chân thành cảm ơn bạn đã tin tưởng lựa chọn trở thành đại lý của Nam
      Phát Steel!
    </b>
  </i>
</p>
